.RegisterPage{
  position: absolute;
  font-family: 'Athiti', sans-serif;
  width:auto;
  position:absolute;
  left: 50%;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
}
.RegisterTable{
  width: 100px;
  background-color: pink;
}
.ToRegisterTable th{
  width: 100px;
}
.CourseNameStyle{
  width: 250px;
  background-color: pink;
}
.SearchBox{
  font-family: 'Athiti', sans-serif;
  margin-bottom: 10px;
}
.H1{
  font-size: 20px;
  margin-left: 2px;
  margin-bottom: 0px;
}
.H2{
  font-size: 20px;
  margin-left: 2px;
  margin-bottom: 0px;
}
