.RegisterButton{
   font-family: 'Athiti', sans-serif;
   border-radius: 7px;
   background-color: white;
   border-style: solid;
   border-color: black;
   font-size: 10px;
   border-width: thin;
   width: 20px;
   height: 20px;
   padding: 0px;
}
