.RegisterPage{
  position: absolute;
  font-family: 'Athiti', sans-serif;
  left: 50%;
  top: 0px;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
}

.RegisterTable{
  width: 100px;
  background-color: pink;
}
.CourseNameStyle{
  width: 250px;
  background-color: pink;
}

.SearchBox{
  font-family: 'Athiti', sans-serif;
  margin-bottom: 10px;
  border-radius: 7px;
  border-style: solid;
  border-width: thin;
  padding-left: 7px;
  border-color: grey;
  font-size: 12px;
  width: 200px;

}::placeholder{
  font-size: 12px;
}
.H1{
  font-size: 20px;
  margin-left: 2px;
  margin-bottom: 0px;
}
.H2{
  font-size: 25px;
  margin-left: 2px;
  margin-bottom: 0px;
  color: red;
}
